@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

body {
    font-size: 16px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    margin: 0;
}

/* Header */
.header {
    background-image: url(./images/wit.jpg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-blend-mode: lighten;
    background-size: cover;
    width: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo {
    background-color: transparent;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo img{
    width: 40%;
    height: 80%;
    aspect-ratio: 4/3;
    object-fit: contain;
    justify-content: center;
}

/* Mission */
.mission-container {
    height: 800px;
    background-color: black;
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-content: center;
}

.mission-left {
    width: 50%;
    float: left;
    display: inline-flex;
    justify-content: center;
}

.mission-left img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.mission-right {
    width: 50%;
    float: right;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.mission-statement {
    margin-top: 25%;
    margin-bottom: 25%;
    height: fit-content;
    width: fit-content;
    color: white;
    padding: 2%;
}

.mission-statement h2 {
    font-size: 3rem;
    float: top;
}

.mission-statement p {
    font-size: 2rem;
    float: bottom;
}

/* Social Media */

.media-container {
    background-image: url(./images/pool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 50%;
    height: 800px;
}

.media-banner {
    margin-top: 0;
    padding-top: 10%;
    font-size: 3rem;
    color: white;
}

.medias {
    padding-top: 5%;
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.media {
    border: 2px solid black;
    width: 20%;
    height: fit-content;
    color: white;
}

.media img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    aspect-ratio: 4/3;
}

/* Meet The E-Board Members */

.eboard-container {
    width: 100%;
    height: fit-content;
    background-color: black;
}

.eboard-banner {
    margin: 0;
    padding-top: 40px;
    font-size: 3rem;
    color: white;
}

.member-container {
    display: inline-flexbox;
    justify-content: center;
}

.member-set {
    display: inline-flex;
    margin: 50px;
    width: 90%;
}

.member {
    border: 2px solid white;
    width: 40%;
    height: 40%;
    padding: 30px;
    flex-wrap: wrap;
    margin: 5%;
    color: white;
}

.member img {
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
    height: fit-content;
}



/* Mobile */
@media only screen and (max-width: 585px) {

    /* Mission */
    .mission-container {
        height: fit-content;
    }
    
    .mission-left {
        display: none;
    }

    /* Social Media */

    .media-container {
        height: fit-content;
    }

    .medias {
        display: grid;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding-left: 25%;
    }
    
    .media {
        width: 60%;
        height: fit-content;
    }
}
